:root {
  font: 16px / 1 sans-serif;
  --deck-length: 52;
  --border: 10%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.display-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.card {
  width: calc((100% - var(--border)) / var(--deck-length));
  height: 7rem;
  /* box-shadow: 0px 0px 0px 1px grey inset; */
}

button {
  margin: 0.5rem;
}

h1,
p {
  padding: 0rem;
  margin: 0rem;
}
